


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');



#particles-js{
    position: absolute;
    width: 100vw;   
    height: 100vh;
    background: #000000;
}

input:focus, select:focus, option:focus{
    box-shadow: none !important;
}

